*{
  margin: 0;
  padding: 0;
}
body{
  color: #dff;
  font-family: "courier new";
  padding: 1rem .5rem;
}
header{
  text-align: center;
  padding-bottom: 2rem;
}
canvas{
  border: 1px solid red;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  image-rendering: pixelated;
  z-index: -1;
  /*  
  height: 100vh;
    width: 102%;
    
    background: radial-gradient(#000, #909 20%, #000 40%, #000 60%, #909 80%, #000);
    background: radial-gradient(#000, #909, #000,#909, #909);
    */
}
header img{
  width: 8rem;
  border-radius: 0%;
}
header h1{
  font-size: 3rem;
  width: 100%;
  top: 3.5rem;
  text-shadow: 0 0 2px #000;
}
article{
  padding-bottom: 1rem;
}
footer{
  position: fixed;
  inset: auto 0 0 0;
  text-align: center;
  font-size: .75rem;
  background: #011;
}
